<div style="justify-content: center; width: 100%; display: flex">
    <div class="contenedor-notificaciones">

        <div style="width: 100%">
        <img class="avisos-img" src="images/bell.png" alt="Notificacion" height="50" width="50" ng-click="$ctrl.showAvisos=!$ctrl.showAvisos">
        <div class="notify-count">{{$ctrl.avisos.length}}</div>
        </div>
        <div>
            <span>Notificaciones</span>
        </div>
    </div>
</div>
<div class="avisos-margin-top avisos-animation-out" ng-class="{'avisos-animation-in':$ctrl.showAvisos}">
    <div class="avisos-container-1">
        <div class="avisos-container-2 font-small">
            <div class="avisos-left avisos-margin center-text">Fecha y Hora</div>
            <div class="avisos-right avisos-margin center-text">Aviso</div>
        </div>
        <div ng-repeat="aviso in $ctrl.avisos" class="avisos-container-2 font-small">
            <div class="avisos-left avisos-margin center-text">{{aviso.fecha}}</div>
            <div class="avisos-right avisos-margin">{{aviso.aviso}}</div>
        </div>
    </div>
</div>

